body {
	background-color: #EEEEEE;
}

.jumbotron {
	background-color: #FFFFFF;
}

#desc {
	text-align: center;
	font-style: italic;
}

.sendProposal {
    margin-right: 10px;
}

.sendCancel {
    margin-right: 10px;
}

.acceptButton {
    margin-right: 10px;
}

.acceptOffer {
    margin-right: 10px;
}

#postBtn {
	float: right;
}

#txtEmail {
	color: #000000;
}

#txtPassword {
	color: #000000;
}