body {
	background-color: #EEEEEE;
}

.jumbotron {
	background-color: #FFFFFF;
}

#desc {
	text-align: center;
	font-style: italic;
}

.sendProposal {
    margin-right: 10px;
}


#postBtn {
	float: right;
}

#txtEmail {
	font-color: #000000;
}

#txtPassword {
	font-color: #000000;
}