body {
	background-image: url("books.jpeg");
  	background-size: cover;
  }

h1 {
	font-size: 120px;
	font-family: 'Special Elite', cursive;
	font-style: bold;
}

h2 {
	font-family: 'Special Elite', cursive;
}

h3 {
	font-family: 'Special Elite', cursive;
	font-style: bold;
}

nav {
	font-family: 'Special Elite', cursive;
	background-color:#4B4239;
}

.well {
	font-family: 'Special Elite', cursive;
}

#introPanel {
	background: rgba(202, 178, 154, 0.5);
	border: none;
	text-align: center;
	padding: 30px;
}

#formStyle {
	background: rgba(202, 178, 154, 0.85);
	border: none;
}

#formHeaderStyle {
	background-color:#4B4239;
	color: #F1EBE5;
	border: none;
}

#currentUser {
	padding: 10px;
	margin: 15px;
	font-family: 'Special Elite', cursive;
	font-style: bold;
	font-size: 40px;
	color: #3D632A;
	background: rgba(217, 234, 211, .25);
}

label {
	font-family: 'Special Elite', cursive;
}

.btn {
	font-family: 'Special Elite', cursive;
	background-color: #8C0303;
	border: none;
}

#desc {
	text-align: center;
	font-style: italic;
}

#submit {
	font-family: 'Special Elite', cursive;
}

.sendProposal {
    margin-right: 10px;
}

.sendCancel {
    margin-right: 10px;
}

.acceptButton {
    margin-right: 10px;
}

.acceptOffer {
    margin-right: 10px;
}

.declineOffer {
    margin-right: 10px;
}

#postBtn {
	float: right;
}

#txtEmail {
	color: #000000;
}

#txtPassword {
	color: #000000;

}